.view {
    -webkit-transition: right 0.3s cubic-bezier(1, 0, 0, 1);
    -moz-transition: right 0.3s cubic-bezier(1, 0, 0, 1);
    -o-transition: right 0.3s cubic-bezier(1, 0, 0, 1);
    transition: right 0.3s cubic-bezier(1, 0, 0, 1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
    z-index: 1;
}
.view ul#dynamicFrontEnd {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    margin-left: 0;
    list-style: none;
    -webkit-transition: top 1s ease;
    -moz-transition: top 1s ease;
    -o-transition: top 1s ease;
    transition: top 1s ease;
}
.view ul#dynamicFrontEnd li {
    position: relative;
    height: 100%;
    float: left;
    width: 100%;
}

.view ul#dynamicFrontEnd li.chapter {
    left: 0;
    position: absolute;
    right: 0;
    top: 25%;
    background: #eeeeee;

}